<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBMS_Services_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBMS_Services_Manager.Properties.Settings>
            <setting name="SQLServer_ServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQL_ServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="PostgreSQL_ServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="MariaDB_ServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="MongoDB_ServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServer_DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQL_DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="PostgreSQL_DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="MariaDB_DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="MongoDB_DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </DBMS_Services_Manager.Properties.Settings>
    </userSettings>
</configuration>